
/* DirectoryView */
#output{
    overflow: auto;
}
div.svn_root{
}
dt.svn_resource_title > span{
    padding-left: 1em;
    background-size: 1em;
    background-position: left center;
    background-repeat: no-repeat;
}
dt.svn_resource_title > span.type_directory{
    cursor: pointer;
    background-image: url("./images/icon_folder_opened.png");
}
dt.svn_resource_title > span.type_directory.dir_closed{
    cursor: pointer;
    background-image: url("./images/icon_folder_closed.png");
}
dt.svn_resource_title > span.type_file{
    background-image: url("./images/icon_file.png");
}

dt.svn_resource_title > span.not_loaded{
    font-style: italic;
}
dt.svn_resource_title > span.loading{
    font-weight: bold;
    background-image: url("./images/ajax_loader.gif") !important;
}

dd.svn_children_root{
    margin-left: 0px;
}

dd.svn_children_root > ul{
    list-style: none;
    margin: 5px 0px;
    padding-left: 1em;
}

dd.svn_children_root > ul > li > dl{
    margin: 5px 0px;
}

/* file list */
#file_list{
    float: right;
    width: 50%;
    overflow: auto;
}
table.file_list_view{
    border-collapse: collapse;
}
table.file_list_view th, table.file_list_view td{
    /* border: 1px solid black; */
}
table.file_list_view tbody tr:nth-child(odd){
    background-color: #DDD;
}
table.file_list_view tbody td.loading{
    padding-left: 2em;
    background-image: url("./images/ajax_loader.gif") !important;
    background-size: 1em;
    background-position: left center;
    background-repeat: no-repeat;
}

/* LogView */
#log{
    float: right;
    width: 20em;
    max-width: 25%;
    overflow: auto;
}
dl.log_view{
}
dl.log_view > dt{
    word-wrap: break-word;
    white-space: pre-wrap;
}
dl.log_view > dd > dl > dt:nth-child(4n + 1), dl.log_view > dd > dl > dd:nth-child(4n + 2){
    background-color: #EEE;
}
dl.log_view > dd > dl > dt:nth-child(4n + 3), dl.log_view > dd > dl > dd:nth-child(4n + 4){
    background-color: #FFF;
}
dl.log_view > dd > dl > dt{
    word-wrap: break-word;
    white-space: pre-wrap;
}
dl.log_view > dd > dl > dd > div{
    word-wrap: break-word;
    white-space: pre-wrap;
}
