
/* DirectoryView */
div.svn_root{
}
dt.svn_resource_title > span{
    padding-left: 1em;
    background-size: 1em;
    background-position: left center;
    background-repeat: no-repeat;
}
dt.svn_resource_title > span.type_directory{
    cursor: pointer;
    background-image: url("./images/icon_folder.png");
}
dt.svn_resource_title > span.type_file{
    background-image: url("./images/icon_file.png");
}

dt.svn_resource_title > span.not_loaded{
    font-style: italic;
}
dt.svn_resource_title > span.loading{
    font-weight: bold;
    background-image: url("./images/ajax_loader.gif");
}

dd.svn_children_root{
    margin-left: 0px;
}

dd.svn_children_root > ul{
    list-style: none;
}

/* LogView */
dl.log_view{
    float: right;
    width: 20em;
}
dl.log_view > dt{
    word-wrap: break-word;
    white-space: pre-wrap;
}
dl.log_view > dd > dl > dt:nth-child(4n + 1), dl.log_view > dd > dl > dd:nth-child(4n + 2){
    background-color: #EEE;
}
dl.log_view > dd > dl > dt:nth-child(4n + 3), dl.log_view > dd > dl > dd:nth-child(4n + 4){
    background-color: #FFF;
}
dl.log_view > dd > dl > dt{
    word-wrap: break-word;
    white-space: pre-wrap;
}
dl.log_view > dd > dl > dd > div{
    word-wrap: break-word;
    white-space: pre-wrap;
}
